.navbar {
    background-color: gold;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
#home-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0, 0.7)), url("../images/overlay-img.jpg");
    position: relative;
    display: inline-block;
}

.home-caption {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.about {
    padding: 250px 0 250px 0;
    background-color: black;
    color: gold;
}

.text-center {
    font-size: 35px;
    display: inline-block;
}

.workTitle {
    padding: 5px 0;
    border: 5px solid white;
    background-color: gold;
    text-align: center;
}

.imgwork img {
    border: 2px solid gold;
}

.mywork {
    color: white;
    font-size: 40px;
    background-color: white;
}

.packages {
    text-align: center;
}

.packagesTitle {
    padding: 5px 0;
    border: 5px solid white;
    background-color: gold;
}

.packagesTitle h1 {
    color: white;
}

.packagework {
    text-align: center;
    background-color: black;
}
.container-fluid  {
    padding: 0px;
    overflow-x: hidden;
}