.navbar {
    background-color: gold;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.nav-text{
    font-size: 20px;
}
#home-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0, 0.7)), url("../images/overlay-img.jpg");
    position: relative;
    display: inline-block;
}

.home-caption {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.about {
    padding: 250px 0 250px 0;
    background-color: black;
    color: gold;
}

.text-center {
    font-size: 35px;
    display: inline-block;
}

.workTitle {
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: gold;
    text-align: center;
}

.imgwork {
    padding: 10px 0;
}

.imgwork img {
    border: 2px solid gold;
}

.mywork {
    border: 2px solid gold;
    color: white;
    font-size: 40px;
    background-color: white;
}

.packagesTitle {
    text-align: center;
    padding: 5px 0;
    background-color: gold;
}

.packagesTitle h1 {
    color: white;
}

.packagework {
    background-color: black;
    padding: 20px 0;
    border: 2px solid gold;
    text-align: center;
}

.contactsus {
    padding: 15px 0;
    border: 2px solid gold;
    color: black;
    text-align: center;
}

.contactsus a {
    color: black;
    padding: 5px;
}

.contactsus a:hover {
    color: gold;
}

/*
.container-fluid {
    padding: 0px;
    overflow-x: hidden;
}*/